[Unit]
Description = 7dtd server
After = network.target

[Service]
Type = simple
User =  {{ user }}
ExecStart = /ebs/7dtd_server/startserver.sh -configfile=/ebs/7dtd_server/serverconfig.xml

[Install]
WantedBy = multi-user.target
