[Unit]
Description = 7dtd save data stop sync
Before = shutdown.target

[Service]
Type = oneshot
RemainAfterExit = true
ExecStart = /root/.bin/save_data_sync.sh stop

[Install]
WantedBy = multi-user.target
